$primary: #102542;
$primary-trans: #10254281;
$secondary: #F87060;
$success: rgb(150, 211, 150);
$info: cyan;
$twitter: #1DA1F2;
$warning: yellow;
$danger: red;
$light: white;
$dark: black;
$light-gray: #CDD7D6;
$grullo: #B3A394;
$transparent: #10254200;

$theme-colors: (
    'primary': $primary,
    'primary-trans': $primary-trans,
    'transparent': $transparent,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
    'light-gray': $light-gray,
    'grullo': $grullo,
    'twitter' :$twitter,
);

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

html *
{
   font-family: "Arial", serif;
}